@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type='checkbox'], input[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: "Spartan";
  font-display: swap;
  src: url("../assets/fonts/Spartan-Regular.woff") format("woff"), url("../assets/fonts/Spartan-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Spartan";
  font-display: swap;
  src: url("../assets/fonts/Spartan-Medium.woff") format("woff"), url("../assets/fonts/Spartan-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Spartan";
  font-display: swap;
  src: url("../assets/fonts/Spartan-SemiBold.woff") format("woff"), url("../assets/fonts/Spartan-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Spartan";
  font-display: swap;
  src: url("../assets/fonts/Spartan-Bold.woff") format("woff"), url("../assets/fonts/Spartan-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: 'Spartan', sans-serif;
  height: 100vh;
  background-image: url("../assets/img/bg.jpg");
  background-position: center;
  background-repeat: repeat;
  color: white;
}

.body::-webkit-scrollbar {
  width: 0.3125rem;
}

.body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.3125rem rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0 0.3125rem rgba(255, 255, 255, 0.2);
}

.body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}

.outer__container {
  width: 80%;
  margin: 0 auto;
}

.h1 {
  font-family: 'Spartan', sans-serif;
  margin: 0;
  padding: 1.875rem 0 0 0;
  font-size: 2.25rem;
  color: #ec7a5c;
  text-shadow: 1px 1px 2px #d61313, 0 0 1em #000333, 0 0 0.2em #000333;
  text-align: center;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.h2 {
  font-family: 'Spartan', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.625rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.h3 {
  font-family: 'Spartan', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
  font-weight: 600;
  color: white;
  text-align: center;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.h4 {
  font-family: 'Spartan', sans-serif;
  margin: 0;
  padding: 0.3125rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #f8f8f8;
  line-height: 1.25rem;
  letter-spacing: 0.06em;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.main {
  margin-top: 1.875rem;
}

.button {
  display: none;
}

.nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.875rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.625rem;
}

.bar {
  width: 1.875rem;
  height: 0.625rem;
  background-color: #ec7a5c;
  border: 1px solid #121212;
  border-radius: 0.3125rem;
  -webkit-box-shadow: 1px 1px 2px #ec7a5c, 0 0 1em #000333, 0 0 0.2em #000333;
          box-shadow: 1px 1px 2px #ec7a5c, 0 0 1em #000333, 0 0 0.2em #000333;
  opacity: 0.7;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bar:hover {
  border: 1px solid #f8f8f8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider__wrapper {
  max-width: 31.25rem;
  margin: 0 auto;
  border-radius: 0.625rem;
  -webkit-box-shadow: 1px 1px 2px #ec7a5c, 0 0 1em #000333, 0 0 0.2em #000333;
          box-shadow: 1px 1px 2px #ec7a5c, 0 0 1em #000333, 0 0 0.2em #000333;
  overflow: hidden;
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1100%;
  height: 100%;
  max-height: 31.25rem;
}

.slides:nth-child(2) {
  background-color: black;
}

.slide {
  width: 9.1%;
  list-style: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slide-img {
  display: block;
  width: 100%;
  height: 100%;
}

#slide01:checked ~ .slider__wrapper > .slides > .current {
  margin-left: 0;
}

#slide01:checked ~ .nav__wrapper > .nav > label[for='slide01'] {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#slide02:checked ~ .slider__wrapper > .slides > .current {
  margin-left: -9.1%;
}

#slide02:checked ~ .nav__wrapper > .nav > label[for='slide02'] {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#slide03:checked ~ .slider__wrapper > .slides > .current {
  margin-left: -18.2%;
}

#slide03:checked ~ .nav__wrapper > .nav > label[for='slide03'] {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#slide04:checked ~ .slider__wrapper > .slides > .current {
  margin-left: -27.3%;
}

#slide04:checked ~ .nav__wrapper > .nav > label[for='slide04'] {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#slide05:checked ~ .slider__wrapper > .slides > .current {
  margin-left: -36.4%;
}

#slide05:checked ~ .nav__wrapper > .nav > label[for='slide05'] {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#slide06:checked ~ .slider__wrapper > .slides > .current {
  margin-left: -45.5%;
}

#slide06:checked ~ .nav__wrapper > .nav > label[for='slide06'] {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#slide07:checked ~ .slider__wrapper > .slides > .current {
  margin-left: -54.6%;
}

#slide07:checked ~ .nav__wrapper > .nav > label[for='slide07'] {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#slide08:checked ~ .slider__wrapper > .slides > .current {
  margin-left: -63.7%;
}

#slide08:checked ~ .nav__wrapper > .nav > label[for='slide08'] {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#slide09:checked ~ .slider__wrapper > .slides > .current {
  margin-left: -72.8%;
}

#slide09:checked ~ .nav__wrapper > .nav > label[for='slide09'] {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#slide10:checked ~ .slider__wrapper > .slides > .current {
  margin-left: -81.9%;
}

#slide10:checked ~ .nav__wrapper > .nav > label[for='slide10'] {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#slide11:checked ~ .slider__wrapper > .slides > .current {
  margin-left: -91%;
}

#slide11:checked ~ .nav__wrapper > .nav > label[for='slide11'] {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=style.css.map */