@import './constants.scss';

.h1 {
  font-size: $base * 20;
  color: $color-orange;
  text-shadow: 0.063rem 0.063rem 0.125rem $color-orange, 0 0 1em $color-dark, 0 0 0.2em $color-dark;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: $breakpoint-md-min) {
    font-size: $base * 10;
  }
}

.h2 {
  font-size: 1.625rem;
  font-weight: 600;
  letter-spacing: 0.125rem;
  text-align: center;
  text-transform: uppercase;
}

.h3 {
  font-size: 0.75rem;
  font-weight: 600;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
}

.h4 {
  padding: $base * 2;
  font-size: $base * 3;
  font-weight: 600;
  color: $color-white;
  letter-spacing: 0.06rem;
  text-align: center;
}

.fs-xs {
  font-size: $fs-xs;
}

.fs-s {
  font-size: $fs-s;
}

.fs-m {
  font-size: $fs-m;
}

.fs-l {
  font-size: $fs-l;
}

.fs-xl {
  font-size: $fs-xl;
}

.fs-xxl {
  font-size: $fs-xxl;
}

.fw-regular {
  font-weight: $fw-regular;
}

.fw-medium {
  font-weight: $fw-medium;
}

.fw-bold {
  font-weight: $fw-bold;
}
